{% extends "../base.html" %}

{% block title %} {{ product.name }} {% endblock %}
{% load crispy_forms_tags %}

{% block content %}


  <div class="container dark-grey-text mt-5">
    <!--Grid row-->
    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img src="{{ product.image.url }}" class="img-fluid" alt="" />

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <!--Content-->
        <div class="p-4">
          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{ product.category }}</span>
            </a>
            <a href="">
              <span class="badge blue mr-1">New</span>
            </a>
            {% if product.is_bestseller %}
            <a href="">
              <span class="badge red mr-1">Bestseller</span>
            </a>
            {% endif %}
          </div>
          <h1 class="font-weight-bold">{{ product.name }}</h1>
          <p class="lead font-weight-bold">
            {% if product.sale_price %}
            <span class="mr-1 text-danger">
              <del>${{product.old_price}}</del>
            </span>
            <span class="text-success">${{product.price}}</span>
            {% else %}
            <span class="text-success">${{product.price}}</span>
            {% endif %}
          </p>
          <p class=" mb-4 font-weight-bold">
          {% if product.quantity > 0 %}
              <span class="text-success">
                <i class="fas fa-check"></i>
                In Stock...

              </span>
              
          {% else %}
          <span class="text-warning">
            <i class="far fa-clock"></i>
            In Stock soon...
            
          
          </span>
            
          {% endif %}
          </p>
          

          <form class="d-flex justify-content-left" action="{% url 'cart:cart_add' product.id %}" method="POST">
            {{ cart_product_form}}
            
            {% csrf_token %}
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>
          </form>
      
        </div>


      <!--Content-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <hr />

  <!--Grid row-->
  <div class="row d-flex  wow fadeIn">
    <!--Grid column-->
    <div class="col-md-12 ">
      <h4 class="my-4 h4">Product Description</h4>

      <p>
        {{product.description|linebreaks}}
      </p>
    </div>
    <!--Grid column-->

    <div class="col-md-12 ">

      <h4 class="my-4 h4">Product Information</h4>

      <ul style="list-style: none;">
        <li><span class="font-weight-bold">Brand:</span> {{product.brand}}</li>
        <li><span class="font-weight-bold">Manufacturer :</span> Hurley Men's</li>
        <li><span class="font-weight-bold">ASIN :</span> B074PVVPNH</li>

      </ul>


    </div>
  </div>
  <!--Grid row-->


  </div>
  <!--Grid row-->
  </div>


{% endblock content %}